body {
  margin: 0;
  padding: 0;
  background-image: url("../../../../Personal/M/dragon_ball___kame_house_by_tohad_dd3jtpp-pre.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  margin: 0 24px;
  position: relative;
  min-height:100vh;
}
